.hero {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  justify-content: center;
  min-height: 80vh;

  &-title {
    color: var(--theme-color);
    font-size: var(--tsm2);
    font-family: var(--fira-code);
  }
  &-title-large {
    font-size: var(--tgiant);
    font-family: var(--raleway);
    color: var(--light-slate);
  }
  &-title-sub {
    color: var(--lightest-slate);
  }
  .glass {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      color: rgb(255, 255, 255);
      background-color: rgba(41, 41, 41, 0.387);
      font-weight: 600;
    }

    .handle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30px;
      height: 4px;
      background-color: #000;
      border-radius: 2px;

      &:before {
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        width: 14px;
        height: 14px;
        border: 2px solid #000;
        border-radius: 50%;
      }

      &:after {
        content: "";
        position: absolute;
        top: -2px;
        left: 0;
        width: 6px;
        height: 6px;
        background-color: #000;
        border-radius: 50%;
      }
    }
  }
  &-text {
    color: var(--slate);
    margin-right: 40%;
    font-size: var(--tlarge);
    letter-spacing: 0.08rem;
    line-height: 1.6rem;
    font-weight: 600;
    font-family: var(--raleway);

    border-radius: 0.2rem;
  }
  &-button {
    margin-top: 2rem;
    .btn {
      padding: 1rem 2rem;
      font-size: var(--tsm1);
    }
  }
  @media screen and (max-width: 768px) {
    &-text {
      width: 90%;
    }
  }

  $slider-name: typing-slider;
  $slides: 2;
  $typing-duration: 2.9s;
  $tab-letters: 34 45; //number of characters in each paragraph
  $slider-font-size: 2.4rem;
  $background-image: url("/background5.jpg");

  body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
    background-image: $background-image;
  }

  @keyframes cursor {
    from,
    to {
      border-color: transparent;
    }
    40% {
      border-color: black;
    }
  }

  @keyframes typing {
    from {
      width: 100%;
    }
    90%,
    to {
      width: 0;
    }
  }

  @keyframes slide {
    #{100% / $slides} {
      font-size: $slider-font-size;
      letter-spacing: 0px;
    }
    to {
      font-size: 3;
      letter-spacing: 0;
    }
  }

  .#{$slider-name} {
    font-family: Consolas, monospace;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
  }

  .#{$slider-name} p {
    position: relative;
    display: inline;
    font-size: 0;

    letter-spacing: 0;
    animation: slide $typing-duration * $slides step-start infinite;
  }

  .#{$slider-name} p::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 3px solid black;
    background-color: transparent;
    background-image: $background-image;
    background-attachment: fixed; // Arka plan görselinin sabit kalmasını sağlar
    animation: typing $typing-duration infinite, cursor 1s infinite;
  }

  @each $letters in $tab-letters {
    $i: index($tab-letters, $letters);
    .#{$slider-name} p:nth-child(#{$i}) {
      animation-delay: $typing-duration * ($i - 1);
      &::after {
        animation-delay: $typing-duration * ($i - 1);
        animation-timing-function: steps(#{$letters}), step-end;
      }
    }
  }
}
