:root {
  --navy-shadow: #213363cc;
  --background-color: #234a37;
  --background-image: url("/././public/background2.jpg");
  --background-repeat: no-repeat;
  --background-position: center center;
  --background-attachment: fixed;
  --background-size: cover;
  --lightest-navy: #203b6a;
  --light-navy: rgba(14, 35, 66, 0.546);
  --dark-slate: #495670;
  --slate: #f2efef;
  --light-slate: #ffcc00;
  --lightest-slate: #f2efef;
  --theme-color: #ffcc00;
}

::-moz-selection {
  color: white;
  background: var(--theme-color);
}

::selection {
  color: white;
  background: var(--theme-color);
}

html,
body {
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--background-color);
  counter-reset: title;

  background-repeat: var(--background-repeat);
  background-position: var(--background-position);
  background-attachment: var(--background-attachment);
  background-size: var(--background-size);
  background-image: url("/background5.jpg");
}

main {
  transition: 0.3s ease-in-out;
}

.blur {
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--dark-slate) var(--background-color);
  background-image: var(--background-image);
  background-repeat: var(--background-repeat);
  background-position: var(--background-position);
  background-attachment: var(--background-attachment);
  background-size: var(--background-size);
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--background-color);
  background-image: var(--background-image);
  background-repeat: var(--background-repeat);
  background-position: var(--background-position);
  background-attachment: var(--background-attachment);
  background-size: var(--background-size);
}
::-webkit-scrollbar-thumb {
  background-color: var(--dark-slate);
  border: 3px solid var(--background-color);
  border-radius: 10px;
  background-image: var(--background-image);
  background-repeat: var(--background-repeat);
  background-position: var(--background-position);
  background-attachment: var(--background-attachment);
  background-size: var(--background-size);
}
